*.o
*.lo
*.la
*.gmo
*.pc
*.ui
Makefile
Makefile.in
.deps/
.libs/
.dirstamp
src/actions/*.?
*marshal.?
src/fm-version.h
LINGUAS
POTFILES
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
data/pcmanfm.1
data/pcmanfm.desktop
data/pcmanfm-desktop-pref.desktop
data/ui/about.glade
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/
missing
po/.intltool-merge-cache
po/.intltool-merge-cache.lock
po/Makefile.in.in
po/stamp-it
src/pcmanfm
stamp-h1
